{% extends '@CraighSimpleScrollTheme/base.html.twig' %}

{% block leftnav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">{{ pagevars.title }}</span>
            <span class="d-none d-lg-block">
            <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ zasset('@CraighSimpleScrollTheme:images/letterS.jpg') }}" alt="">
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#top">{% trans %}Top{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#main">{% trans %}Main{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#block1">{% trans %}Block 1{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#block2">{% trans %}Block 2{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#block3">{% trans %}Block 3{% endtrans %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#block4">{% trans %}Block 4{% endtrans %}</a>
                </li>
                {{ include('@CraighSimpleScrollTheme/adminlinks.html.twig') }}
            </ul>
        </div>
    </nav>
{% endblock %}

{% block maincontent %}
    <div class="container-fluid p-0">

        <section class="resume-section" id="top">
            <div class="resume-section-content">
                {% set array = siteName()|split(' ', 2) %}

                <h1 class="mb-0">{{ attribute(array, 0) }}
                    <span class="text-primary">{{ attribute(array, 1) }}</span>
                </h1>
                <div class="subheading mb-5">{{ siteSlogan() }}</div>
                <p class="lead mb-5">{% trans %}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique purus non eros scelerisque, nec rhoncus lectus malesuada. Praesent sagittis sem in hendrerit dictum. Curabitur vitae iaculis sem, ac posuere dui.{% endtrans %}</p>
                <div class="social-icons">
                    <a class="social-icon" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="social-icon" href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="social-icon" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="social-icon" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section" id="main">
            <div class="resume-section-content">
                <h2 class="mb-5">{% trans %}Main Content{% endtrans %}</h2>

                {{ showflashes() }}
                {{ maincontent|raw }}

            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section" id="block1">
            <div class="resume-section-content">
                {{ showblockposition('main1') }}
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section" id="block2">
            <div class="resume-section-content">
                {{ showblockposition('main2') }}
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section" id="block3">
            <div class="resume-section-content">
                {{ showblockposition('main3') }}
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section" id="block4">
            <div class="resume-section-content">
                {{ showblockposition('main4') }}
            </div>
        </section>

    </div>
{% endblock %}
