<!DOCTYPE html>
<html lang="{{ app.request.locale }}" dir="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ pagevars.meta.description }}" />
    <meta name="robots" content="noindex,follow,noarchive" />

    <title>{{ pagevars.title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">{{ pagevars.title }}</span>
        <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ zasset('@CraighSimpleScrollTheme:images/letterS.jpg') }}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#top">Top</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#main">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#block1">Block 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#block2">Block 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#block3">Block 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#block4">Block 4</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="top">
        <div class="w-100">
            {% set array = siteName()|split(' ', 2) %}

            <h1 class="mb-0">{{ attribute(array, 0) }}
                <span class="text-primary">{{ attribute(array, 1) }}</span>
            </h1>
            <div class="subheading mb-5">{{ siteSlogan() }}</div>
            <p class="lead mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique purus non eros scelerisque, nec rhoncus lectus malesuada. Praesent sagittis sem in hendrerit dictum. Curabitur vitae iaculis sem, ac posuere dui.</p>
            <div class="social-icons">
                <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="main">
        <div class="w-100">
            <h2 class="mb-5">Main Content</h2>

            {{ showflashes() }}
            {{ maincontent|raw }}

        </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="block1">
        <div class="w-100">
            {{ showblockposition('main1') }}
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="block2">
        <div class="w-100">
            {{ showblockposition('main2') }}
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="block3">
        <div class="w-100">
            {{ showblockposition('main3') }}
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="block4">
        <div class="w-100">
            {{ showblockposition('main4') }}
        </div>
    </section>

</div>

{{ pageAddAsset('javascript', zasset('@CraighSimpleScrollTheme:js/jquery-easing/jquery.easing.min.js')) }}
{{ pageAddAsset('javascript', zasset('@CraighSimpleScrollTheme:js/resume.min.js')) }}
{{ pageAddAsset('stylesheet', zasset('@CraighSimpleScrollTheme:css/resume.css'), 24) }}

</body>

</html>
